Repository JGCRI/gcamdata, pull requests merged in 2018-03, with the labels that each got.

#881 Aglu tempdata
  R/constants.R
  R/sysdata.rda
  R/zchunk_L2242.land_input_4_irr_mgmt.R
  R/zchunk_L2252.land_input_5_irr_mgmt.R
  inst/extdata/temp-data-inject/L223.LN3_LeafGhostShare.csv.gz
  inst/extdata/temp-data-inject/L223.LN3_LeafIsGhostShareRel.csv
  inst/extdata/temp-data-inject/L223.LN3_MgdAllocation_bio.csv
  inst/extdata/temp-data-inject/L223.LN3_MgdAllocation_crop.csv.gz
  inst/extdata/temp-data-inject/L2241.LN4_HistMgdAllocation_bio.csv.gz
  inst/extdata/temp-data-inject/L2241.LN4_HistMgdAllocation_crop.csv.gz
  inst/extdata/temp-data-inject/L2241.LN4_LeafGhostShare.csv
  inst/extdata/temp-data-inject/L2241.LN4_Logit.csv
  inst/extdata/temp-data-inject/L2241.LN4_MgdAllocation_bio.csv.gz
  inst/extdata/temp-data-inject/L2241.LN4_MgdAllocation_crop.csv.gz
  inst/extdata/temp-data-inject/L2241.LN4_MgdCarbon_bio.csv
  inst/extdata/temp-data-inject/L2241.LN4_MgdCarbon_crop.csv.gz
  inst/extdata/temp-data-inject/L2241.LN4_NodeGhostShare.csv.gz
  inst/extdata/temp-data-inject/L2241.LN4_NodeIsGhostShareRel.csv
Labels: aglu

#882 enable_emissions_xml_batches
  R/sysdata.rda
  R/zchunk_L2242.land_input_4_irr_mgmt.R
  R/zchunk_batch_all_fgas_emissions_xml.R
  R/zchunk_batch_ind_urb_processing_sectors.R
  man/module_emissions_batch_all_fgas_emissions_xml.Rd
  man/module_emissions_batch_ind_urb_processing_sectors_xml.Rd
Labels: emissions

#886 Enable_energy_batch_xml_chunks
  R/sysdata.rda
  R/zchunk_batch_Ccoef_xml.R
  R/zchunk_batch_Cstorage.xml.R
  R/zchunk_batch_ccs_supply_high_xml.R
  R/zchunk_batch_ccs_supply_low_xml.R
  R/zchunk_batch_ccs_supply_lowest_xml.R
  R/zchunk_batch_en_transformation_low_xml.R
  R/zchunk_batch_high_cost_ccs_xml.R
  R/zchunk_batch_no_offshore_ccs_xml.R
  man/module_energy_batch_Ccoef_xml.Rd
  man/module_energy_batch_Cstorage.xml.Rd
  man/module_energy_batch_ccs_supply_high_xml.Rd
  man/module_energy_batch_ccs_supply_low_xml.Rd
  man/module_energy_batch_ccs_supply_lowest_xml.Rd
  man/module_energy_batch_en_transformation_low_xml.Rd
  man/module_energy_batch_high_cost_ccs_xml.Rd
  man/module_energy_batch_no_offshore_ccs_xml.Rd
Labels: energy
