Repository JGCRI/gcamdata, pull requests merged in 2019-06, with the labels that each got.

#1051 add module_gcam.china_LA154.Transport
  R/sysdata.rda
  R/zchunk_LA154.Transport_china.R
  inst/extdata/gcam-china/trnUCD_NBS_mapping.csv
  man/module_gcam.china_LA154.Transport.Rd
Labels: gcam-china

#1053 Liu yan lb123.electricity china
  R/constants.R
  R/sysdata.rda
  R/zchunk_LA122.Refining_china.R
  R/zchunk_LB123.Electricity_china.R
  inst/extdata/gcam-china/CPSY_GWh_province_F_elec_out.csv
  man/module_gcam.china_LB123.Electricity.Rd
Labels: gcam-china

#1058 Yang l225.hydrogen china
  R/sysdata.rda
  R/zchunk_L201.socioeconomics_china.R
  R/zchunk_L225.hydrogen_CHINA.R
  man/module_gcam.china_L201.socioeconomics.Rd
  man/module_gcam.china_L225.hydrogen_china.Rd
Labels: gcam-china

#1117 Add a CITATION file
  inst/CITATION
Labels: documentation

#1095 Screen level 1 chunks for MODEL_BASE_YEARS and MODEL_FUTURE_YEARS
  R/constants.R
  R/utils.R
  tests/testthat/test_util.R
Labels: BYU
